</body>
<footer class="footer mt-auto py-3 bg-body-tertiary text-center">
    <div class="container">
      <span class="text-body-secondary">Copyright  &copy; 2024 PixelScan</span>
    </div>
</footer>
</html>